<div class="container-fluid py-1">

  <a href="/">
    <img class="img-fluid" width="160" src="/public/images/footer_logo.png" alt="Rent by Owner">
  </a>

  <ul class="footer-links float-end d-flex pt-2">
    <a href="#" class="text-decoration-none nav-link px-5">FAQ</a>
    <a href="admin/dashboard" class="text-decoration-none nav-link">Login</a>
  </ul>
</div>