<nav class="navbar navbar-expand-xl navbar-light text-center p-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="img-fluid" width="160" src="/public/images/header_logo.png" alt="Rent by Owner">
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a class="nav-link px-3" href="#" role="button">Rentals </a>
        <a class="nav-link px-3" href="#" role="button">Near By </a>
        <a class="nav-link" href="#" role="button">Destination </a>
      </ul>
    </div>

    <a href="#!" class="btn btn-primary ms-2 ms-lg-3 ">Need Help ?</a>

  </div>
</nav>