<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rent By Owner | Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/admin.css">
</head>

<body>

  <div class="main">

    <header class="header navbar navbar-light sticky-top flex-md-nowrap p-0 shadow">
      <%- include('../admin/partials/header.ejs'); %>
    </header>

    <aside class="sidebar">
      <%- include('../admin/partials/sidebar.ejs'); %>
    </aside>

    <div class="content">
      <%- include('../admin/partials/post-grid.ejs'); %>
    </div>

    <footer class="footer"></footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</body>

</html>